%tr
  %td= f.select :field_type, CustomField::FIELD_TYPES
  %td= f.text_field :label, placeholder: 'label'
  %td= f.check_box :required
  %td
    = f.hidden_field :_destroy
    = link_to '#', class: 'btn btn-mini btn-success remove_fields' do
      %i.icon-trash.icon-white