= link_to 'New Ticket type', new_ticket_type_path, :class => 'btn btn-success'
.spacer
%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th= t :name
    %th= t :price
    %th= t :capacity

  - ticket_types.each do |ticket_type|
    %tr{:onclick=>"location.href='#{ticket_type_path(ticket_type)}'", :style=>"cursor:pointer"}
      %td= ticket_type.name
      %td= ticket_type.price
      %td= ticket_type.capacity