%h1 Listing ticket_types

%table
  %tr
    %th Name
    %th Price
    %th Capacity
    %th
    %th
    %th

  - @ticket_types.each do |ticket_type|
    %tr
      %td= ticket_type.name
      %td= ticket_type.price
      %td= ticket_type.capacity
      %td= link_to 'Show', ticket_type
      %td= link_to 'Edit', edit_ticket_type_path(ticket_type)
      %td= link_to 'Destroy', ticket_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket type', new_ticket_type_path
