.row-fluid
  .span6.bannertext.centered-slogan
    %h1= t('home.header')
    %p.lead= t('home.subtitle')
  /
    .span6
      .video-container
        #promo-video
        :javascript
          jwplayer.key = "JecsEjKdu13WIgLAkIFZ844rlWbw+EUSgap/iA==";
          jwplayer('promo-video').setup({
            file : '/promo-video.mp4',
            flashplayer: '/jwplayer.flash.swf',
            image: '/assets/promo-poster.png',
            title: 'How it works ..',
            logo: {
              file: "/assets/logo.png",
              link: "http://www.tocticket.com/"
            },
            width : '480'
          });

.row-fluid
  .span4.featured-boxes
    .feature-inner
      %h4= t('home.create_event')
      = render :partial => 'devise/registrations/new', :locals => {:role => :organizer}
  .span4.featured-boxes
    .feature-inner
      %h4= t('home.login_to_manage')
      = render 'devise/sessions/new'
  /
    .span4.featured-boxes
      .feature-inner
        %h4= t('home.already_attending')
        = link_to t('home.print_tickets'), new_user_session_path, :class => 'btn btn-success'