= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :celebrated_at
    = f.input :address
    = f.input :price
    = f.input :info
    = f.input :url
    = f.input :selling_deadline
    = f.input :tickets_limit
    = f.input :door_payment

  .form-actions
    = f.button :submit