= simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => "Event Name", :placeholder => "Name of Event", :input_html => {:class => 'span12'}
    = f.input :uri, :label => "Custom URI", :placeholder => "http://www.tockticket.com/to/...", :input_html => {:class => 'span12'}
    = f.input :formatted_celebrated_at, :as => :string, :input_html => {:class => "datetime-picker"}, :label => "Date of event", :placeholder => "Date of Event"
    = f.input :address, :label => "Address", :placeholder => "Address", :input_html => {:class => 'span12', :rows =>'4'}
    = f.input :price, :label => "Price of Tickets", :wrapper => 'prepend' do
      = content_tag :span, "$", :class => "add-on"
      = f.number_field :price, :step => '0.05'
    = f.input :info, :label => "Event Details", :placeholder => "Additional info", :input_html => {:class => 'span12', :rows =>'4'}
    = f.input :url, :label => "URL of Event", :placeholder => "Formal URL", :input_html => {:class => 'span6'}
    = f.input :capacity, :label => "Capacity of attendees", :placeholder => "Limit of attendees", :input_html => { :step => '10' }
    = f.input :paypal_account, :label => "Paypal account (email)", :placeholder => "Paypal email", :input_html => {:class => 'span6'}, :hint => 'This is the account where all the ticket sales profit will be paid out to'

  .form-actions
    = f.button :submit, :class => "btn btn-success"