= simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => t('events.form.event_name'), :placeholder => t('events.form.event_name_ph'), :input_html => {:class => 'span12'}
    = f.input :uri, :label => t('events.form.custom_uri'), :placeholder => t('events.form.custom_uri_ph'), :input_html => {:class => 'span12'}
    = f.input :formatted_celebrated_at, :as => :string, :input_html => {:class => "datetime-picker"}, :label => t('events.form.event_date'), :placeholder => t('events.form.event_date_ph')
    = f.input :address, :label => t('events.form.address'), :placeholder => t('events.form.address_ph'), :input_html => {:class => 'span12', :rows =>'4'}
    = f.input :price, :label => t('events.form.price'), :wrapper => 'prepend' do
      = content_tag :span, "$", :class => "add-on"
      = f.number_field :price, :step => '0.05'
    = f.input :info, :label => t('events.form.details'), :placeholder => t('events.form.details_ph'), :input_html => {:class => 'span12', :rows =>'4'}
    = f.input :url, :label => t('events.form.url'), :placeholder => t('events.form.url_ph'), :input_html => {:class => 'span6'}
    = f.input :capacity, :label => t('events.form.capacity'), :placeholder => t('events.form.capacity_ph'), :input_html => { :step => '10' }
    = f.input :paypal_account, :label => t('events.form.paypal_account'), :placeholder => t('events.form.paypal_account_ph'), :input_html => {:class => 'span6'}, :hint => t('events.form.paypal_account_hint')

  .form-actions
    = f.button :submit, :class => "btn btn-success"