%h2.sectiontitle= t('events.create.congrats')

%h2= link_to t('events.create.public_url', name: @event.name, url: @event.public_url(root_url)), @event.public_url, :target => "_blank"

= link_to 'http://www.facebook.com/sharer/sharer.php?u='+@event.public_url(root_url), :class => 'btn btn-success' do
  = image_tag "footer_facebook.png"
  &nbsp;&nbsp;&nbsp;
  = t('events.create.share_on', network: "Facebook")

= link_to 'http://twitter.com/home?status='+@event.public_url(root_url), :class => 'btn btn-success' do
  = image_tag "footer_twitter.png"
  &nbsp;&nbsp;&nbsp;&nbsp;
  = t('events.create.share_on', network: "Twitter")

%br
%br
%br
= link_to t('events.create.got_to_events'), events_path, :class => 'btn btn-success'
