%h2.sectiontitle= t('events.edit_header')

.tabbable
  %ul.nav.nav-tabs
    %li.active
      = link_to t('events.sections.basic'), '#basic', {"data-toggle" => "tab"}
    %li
      = link_to t('events.sections.prices'), '#prices', {"data-toggle" => "tab"}
    %li
      = link_to t('events.sections.info'), '#publish', {"data-toggle" => "tab"}
    %li
      = link_to t('events.sections.fields'), '#fields', {"data-toggle" => "tab"}

  .tab-content
    #basic.tab-pane.active
      = simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name, :label => t('events.form.event_name'), :placeholder => t('events.form.event_name_ph'), :input_html => {:class => 'span12'}
          = f.input :formatted_celebrated_at, :as => :string, :input_html => {:class => "datetime-picker"}, :label => t('events.form.event_date'), :placeholder => t('events.form.event_date_ph')
          = f.input :address, :label => t('events.form.address'), :placeholder => t('events.form.address_ph'), :input_html => {:class => 'span12', :rows =>'4'}
          = f.input :info, :label => t('events.form.details'), :placeholder => t('events.form.details_ph'), :input_html => {:class => 'span12', :rows =>'4'}
        .form-actions
          = f.button :submit, :class => "btn btn-success"

    #prices.tab-pane
      = render :partial => 'ticket_types/list', :locals => {:ticket_types => @event.ticket_types}
      %hr
      = simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :paypal_account, :label => t('events.form.paypal_account'), :placeholder => t('events.form.paypal_account_ph'), :input_html => {:class => 'span6'}, :hint => t('events.form.paypal_account_hint')
          %hr
          = f.input :site_map, as: :file, :label => t('events.form.site_map')
          -  if @event.site_map?
            = image_tag @event.site_map_url(:thumb)
            = f.input :remove_site_map, as: :boolean, :label => t('events.form.remove_site_map')
        .form-actions
          = f.button :submit, :class => "btn btn-success"

    #publish.tab-pane
      = simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :uri, :label => t('events.form.custom_uri'), :placeholder => t('events.form.custom_uri_ph'), :input_html => {:class => 'span12'}
          = f.input :url, :label => t('events.form.url'), :placeholder => t('events.form.url_ph'), :input_html => {:class => 'span6'}
        .form-actions
          = f.button :submit, :class => "btn btn-success"

    #fields.tab-pane
      = simple_form_for(@event, :html => {:class => 'form-vertical' }) do |f|
        = f.error_notification
        .form-inputs
          %table.table.table-bordered.table-condensed.table-hover
            %tr
              %th #{t('events.custom_fields.type')} *
              %th #{t :label} *
              %th= t('events.custom_fields.required')
              %th= t :delete
            = f.fields_for :fields do |builder|
              = render 'custom_fields/line_form', f: builder
          = link_to_add_fields t('events.custom_fields.add_field'), f, :fields
        .form-actions
          = f.button :submit, :class => "btn btn-success"
