%h2.sectiontitle= t('events.index.my_events')

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th= t :name
    %th.hide_shorten= t :date_title
    %th= t('events.index.sold_limit')
    %th= t :edit
    %th= t :delete

  - @events.each do |event|
    %tr{:onclick=>"location.href='#{event_path(event)}'", :style=>"cursor:pointer"}
      %td= event.name
      %td.hide_shorten= l event.celebrated_at
      %td #{event.total_attendees} / #{event.total_capacity}
      %td
        = link_to edit_event_path(event), :class => 'btn btn-mini btn-success' do
          %i.icon-edit.icon-white
      %td
        = link_to event, method: :delete, data: { confirm: t(:confirm_msg) }, :class => 'btn btn-mini btn-success' do
          %i.icon-trash.icon-white

%br

= link_to t('events.index.new_event'), new_event_path, :class => 'btn btn-success'
