%h2.sectiontitle My events

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th Name
    %th Date
    %th Price
    %th Selling deadline
    %th Tickets (sold/limit)
    %th Door payment
    %th Edit
    %th Delete

  - @events.each do |event|
    %tr{:onclick=>"location.href='#{event_path(event)}'", :style=>"cursor:pointer"}
      %td= event.name
      %td= event.celebrated_at
      %td= event.price
      %td= event.selling_deadline
      %td #{event.ttal_attendees} / #{event.capacity}
      %td= event.door_payment ? 'yes':'no'
      %td
        = link_to edit_event_path(event), :class => 'btn btn-mini btn-success' do
          %i.icon-edit.icon-white
      %td
        = link_to event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-success' do
          %i.icon-trash.icon-white

%br

= link_to 'New Event', new_event_path, :class => 'btn btn-success'
