%h4 Listing events

%table.table.table-condensed.table-hover
  %tr
    %th Name
    %th Date
    %th Address
    %th Price
    %th Info
    %th Url
    %th Selling deadline
    %th Tickets limit
    %th Door payment
    %th
    %th
    %th

  - @events.each do |event|
    %tr{:onclick=>"location.href='#{event_path(event)}'", :style=>"cursor:pointer"}
      %td= event.name
      %td= event.celebrated_at
      %td= event.address
      %td= event.price
      %td= event.info
      %td= event.url
      %td= event.selling_deadline
      %td= event.tickets_limit
      %td= event.door_payment
      %td
        = link_to edit_event_path(event), :class => 'btn btn-mini' do
          %i.icon-edit
      %td
        = link_to event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' do
          %i.icon-trash

%br

= link_to 'New Event', new_event_path, :class => 'btn'
