%p#notice= notice
%h2.sectiontitle Event: #{@event.name}
%dl.dl-horizontal
  - if @event.celebrated_at
    %dt Date:
    %dd= @event.celebrated_at
  - if !@event.address.empty?
    %dt Address:
    %dd= @event.address
  - if @event.price
    %dt Price:
    %dd= @event.price
  - if !@event.info.empty?
    %dt Additional Info:
    %dd= @event.info
  - if !@event.url.empty?
    %dt Url:
    %dd= @event.url
  - if @event.selling_deadline
    %dt Selling deadline:
    %dd= @event.selling_deadline
  %dt Attendees:
  %dd #{@event.total_attendees} / #{@event.capacity}
  %dt Door payment:
  %dd= @event.door_payment ? 'yes':'no'

- if @event.organizer == current_user
  %h4 Ticket list
  = render "tickets/list"
  .btn-group
    = link_to 'New Ticket', new_event_ticket_path(@event), :class => "btn btn-success"
    = link_to 'Edit', edit_event_path(@event), :class => "btn btn-success"
    = link_to 'Back', events_path, :class => "btn btn-success"
- else
  = link_to 'Purchase a ticket', new_event_ticket_path(@event), :class => "btn btn-success"
