%p#notice= notice
%h2.event-title= link_to @event.name, @event.public_url, :target => "_blank"
.date_place= t('events.show.date_place', date: l(@event.celebrated_at, :format => :long), place:@event.address)
.event-details
  - if !@event.info.nil?
    %p= @event.info
  - if !@event.url.nil?
    %p= link_to t(:more_info), @event.url, :target => "_blank"

  %p= t('events.show.price')
  %ul
    - @event.ticket_types.each do |type|
      %li= t('events.show.ticket_type_price', type: type.name, price: type.price)
  - if @event.site_map?
    %p= t('events.show.site_map')
    = image_tag @event.site_map_url(:thumb)
- if @event.organizer == current_user
  .organizer-info
    %h4= t('events.show.organizer_info')
    %dl.dl-horizontal
      %dt= t(:attendee).pluralize
      %dd #{@event.total_attendees} / #{@event.total_capacity}
      %dt= t('events.show.paypal_account')
      %dd= @event.paypal_account

    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to t('events.show.ticket_list'), '#ticket-list', {"data-toggle" => "tab"}
        %li
          = link_to t('events.show.charts'), '#ticket-charts', {"data-toggle" => "tab"}
      .tab-content
        #ticket-list.tab-pane.active
          = render :partial => "tickets/list", :locals => {tickets: @event.tickets}
          .btn-group
            = link_to t('tickets.sell'), new_event_ticket_path(@event), :class => "btn btn-success"
            = link_to t(:edit), edit_event_path(@event), :class => "btn btn-success"
            = link_to t(:back), events_path, :class => "btn btn-success"
        #ticket-charts.tab-pane
          = render :partial => 'ticket_charts'
  - else
    = link_to t('events.show.purchase_tickets'), new_event_ticket_path(@event), :class => "btn btn-success"
