%p#notice= notice
%h2.event-title= link_to @event.name, @event.public_url, :target => "_blank"
.date_place= t('events.show.date_place', date: l(@event.celebrated_at, :format => :long), place:@event.address)
.event-details
  %p= t('events.show.price', price: @event.price)
  - if !@event.info.empty?
    %p= @event.info
  - if !@event.url.empty?
    %p= link_to t(:more_info), @event.url, :target => "_blank"

- if @event.organizer == current_user
  .organizer-info
    %h4= t('events.show.organizer_info')
    %dl.dl-horizontal
      %dt= t(:attendee).pluralize
      %dd #{@event.total_attendees} / #{@event.capacity}
      %dt= t('events.show.paypal_account')
      %dd= @event.paypal_account

    %h4= t('events.show.ticket_list')
    = render :partial => "tickets/list", :locals => {tickets: @event.tickets}
    .btn-group
      = link_to t('tickets.sell'), new_event_ticket_path(@event), :class => "btn btn-success"
      = link_to t(:edit), edit_event_path(@event), :class => "btn btn-success"
      = link_to t(:back), events_path, :class => "btn btn-success"
  - else
    = link_to t('events.tickets.purchase'), new_event_ticket_path(@event), :class => "btn btn-success"
