%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Date:
  = @event.celebrated_at
%p
  %b Address:
  = @event.address
%p
  %b Price:
  = @event.price
%p
  %b Info:
  = @event.info
%p
  %b Url:
  = @event.url
%p
  %b Selling deadline:
  = @event.selling_deadline
%p
  %b Tickets limit:
  = @event.tickets_limit
%p
  %b Door payment:
  = @event.door_payment

- if @event.organizer == current_user
  %h4 Ticket list
  = render "tickets/list"
  .btn-group
    = link_to 'New Ticket', new_event_ticket_path(@event), :class => "btn"
    = link_to 'Edit', edit_event_path(@event), :class => "btn"
    = link_to 'Back', events_path, :class => "btn"
- else
  = link_to 'Purchase a ticket', new_event_ticket_path(@event), :class => "btn"
