%p#notice= notice
%h2.event-title= link_to @event.name, @event.public_url, :target => "_blank"
.date_place #{l @event.celebrated_at, :format => :long} at #{@event.address}
.event-details
  %p Enjoy the event only for $#{@event.price}.
  - if !@event.info.empty?
    %p= @event.info
  - if !@event.url.empty?
    %p= link_to 'More info...', @event.url, :target => "_blank"

- if @event.organizer == current_user
  .organizer-info
    %h4 Information for Organizer
    %dl.dl-horizontal
      %dt Attendees:
      %dd #{@event.total_attendees} / #{@event.capacity}
      %dt Paypal account:
      %dd= @event.paypal_account

    %h4 Ticket list
    = render :partial => "tickets/list", :locals => {tickets: @event.tickets}
    .btn-group
      = link_to 'Sell Tickets', new_event_ticket_path(@event), :class => "btn btn-success"
      = link_to 'Edit', edit_event_path(@event), :class => "btn btn-success"
      = link_to 'Back', events_path, :class => "btn btn-success"
  - else
    = link_to 'Purchase a ticket', new_event_ticket_path(@event), :class => "btn btn-success"
