%h3= t('tickets.email.header')

%p= t(:name) +  ": " + @event.name
%p= t(:date) +  ": " + @event.celebrated_at
%p= t('tickets.email.attendees_number', number: @ticket.attendees)

%h2= link_to t('tickets.email.purchased_ticket'), secure_ticket_url(@event, @ticket, @ticket.random_key)

%p= t('tickets.warning')