= simple_form_for [@event, @ticket] do |f|
  = f.error_notification

  .form-inputs
    = f.input :attendees, :label => "Number of attendees"
    = f.input :pay_at_door, :label => "Want to pay at door ?", :as => :boolean if @event.door_payment
  .form-actions
    = f.button :submit, :value => "Book Ticket"
