= simple_form_for [@event, @ticket] do |f|
  = f.error_notification

  .form-inputs
    = f.input :attendees, :label => t('tickets.attendees_number')
    = f.input :email, :label => t('tickets.email'), :input_html => { :value => "#{current_user.email if current_user}" }
  .form-actions
    - if @event.organizer == current_user
      = f.button :submit, :value => t('tickets.form.sell'), :class => "btn btn-success"
    - else
      = f.button :submit, :value => t('tickets.form.purchase'), :class => "btn btn-success"
