= simple_form_for [@event, @ticket] do |f|
  = f.error_notification

  .form-inputs
    = f.input :attendees, :label => "Number of tickets"
    = f.input :email, :label => "Email to receive the ticket"
  .form-actions
    - if @event.organizer == current_user
      = f.button :submit, :value => "Sell Tickets", :class => "btn btn-success"
    - else
      = f.button :submit, :value => "Purchase Tickets", :class => "btn btn-success"
