%table.table.table-bordered.table-condensed.table-hover
  %tr
    - if current_user.has_role?(:organizer)
      %th= t :attendee
    - if current_user.has_role?(:attendee)
      %th= t :event
    %th= t(:attendee).pluralize
    %th= t :paid
    %th= t :checked
    %th= t :print
    - if current_user.has_role?(:organizer)
      %th= t :detail

  - tickets.each do |ticket|
    %tr
      - if current_user.has_role?(:organizer)
        - if current_user == ticket.user
          %td Ticket sold from organizer account
        - else
          %td= ticket.email
      - if current_user.has_role?(:attendee)
        %td= ticket.event.name
      %td= ticket.attendees
      %td= ticket.paid ? t(:yes) : t(:no)
      %td= ticket.checked ? t(:yes) : t(:no)
      %td
        = link_to event_ticket_path(ticket.event,ticket), :class => 'btn btn-mini btn-success' do
          %i.icon-print.icon-white
      - if current_user.has_role?(:organizer)
        %td
          = link_to event_ticket_detail_path(ticket.event,ticket), :class => 'btn btn-mini btn-success' do
            %i.icon-edit.icon-white
