%table.table.table-condensed.table-hover
  %tr
    - if current_user.has_role?(:organizer)
      %th Attendee
    - if current_user.has_role?(:attendee)
      %th Event
    %th Attendees
    %th Paid
    %th Print
    - if current_user.has_role?(:organizer)
      %th Edit
      %th Delete

  - @tickets.each do |ticket|
    %tr
      - if current_user.has_role?(:organizer)
        - if current_user = ticket.user
          %td Ticket sold from organizer account
        - else
          %td= ticket.user.name
      - if current_user.has_role?(:attendee)
        %td= ticket.event.name
      %td= ticket.attendees
      %td= ticket.paid ? 'yes':'no'
      %td
        = link_to event_ticket_path(ticket.event,ticket), :class => 'btn btn-mini btn-success' do
          %i.icon-print.icon-white
      - if current_user.has_role?(:organizer)
        %td
          = link_to edit_event_ticket_path(ticket.event,ticket), :class => 'btn btn-mini btn-success' do
            %i.icon-edit.icon-white
        %td
          = link_to event_ticket_path(ticket.event,ticket), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-success' do
            %i.icon-trash.icon-white