= render 'video_ad'

%p#notice= notice

%p
  %b Random key:
  = @ticket.random_key
%p
  %b Attendees:
  = @ticket.attendees
%p
  %b Paid:
  = !@ticket.unpaid
%p
  %b Pay at door:
  = @ticket.pay_at_door
%p
  %b Ticket id:
  = @ticket.id
- if !@ticket.unpaid and !@ticket.pay_at_door
  %p
    %b Paypal Payment nofication:
    %pre= simple_format @ticket.payment_notification.to_yaml

.btn-group
  = link_to 'Edit', edit_event_ticket_path(@event, @ticket), :class => 'btn'
  = link_to 'Back', event_path(@event), :class => 'btn'
