//= render 'video_ad'

%p#notice= notice

%dl.dl-horizontal
  = render :partial => "printed_ticket_data"

%p= t('tickets.warning')

.btn-group
  = link_to t(:back), event_path(@event), :class => 'btn btn-success'
  = link_to t(:print), "#", :class => 'btn btn-success', :onclick => "window.print();return false;"
