= render 'video_ad'

%p#notice= notice

%dl.dl-horizontal
  %dt Attendees:
  %dd= @ticket.attendees
  %dt Paid:
  %dd= !@ticket.unpaid
  %dt Pay at door:
  %dd= @ticket.pay_at_door
  %dt Ticket id:
  %dd= @ticket.id
  %dt QR code:
  %dd= render 'qr_code'

- if !@ticket.unpaid and !@ticket.pay_at_door
  %dt Paypal Payment nofication:
  %dd
    %pre= simple_format @ticket.payment_notification.to_yaml

.btn-group
  = link_to 'Edit', edit_event_ticket_path(@event, @ticket), :class => 'btn btn-success'
  = link_to 'Back', event_path(@event), :class => 'btn btn-success'
