- if current_user.has_role? :attendee
  .video
    .video-centered
      #my-video
  :javascript
    jwplayer.key = "JecsEjKdu13WIgLAkIFZ844rlWbw+EUSgap/iA==";
    jwplayer('my-video').setup({
      file : 'http://www.youtube.com/watch?v=HLGEa6ZgQGw',
      flashplayer: '/jwplayer.flash.swf',
      controls : false,
      autostart : true,
      width : '800',
      height : '480'
    });
    jwplayer().onComplete(function() {
      $('.video').hide("slow");
    });

%p#notice= notice

%p
  %b Random key:
  = @ticket.random_key
%p
  %b Attendees:
  = @ticket.attendees
%p
  %b Paid:
  = !@ticket.unpaid
%p
  %b Pay at door:
  = @ticket.pay_at_door
%p
  %b Ticket id:
  = @ticket.id
- if !@ticket.unpaid and !@ticket.pay_at_door
  %p
    %b Paypal Payment nofication:
    %pre= simple_format @ticket.payment_notification.to_yaml

.btn-group
  = link_to 'Edit', edit_event_ticket_path(@event, @ticket), :class => 'btn'
  = link_to 'Back', event_path(@event), :class => 'btn'
