%p#notice= notice

%p
  %b Random key:
  = @ticket.random_key
%p
  %b Attendees:
  = @ticket.attendees

.btn-group
  = link_to 'Edit', edit_event_ticket_path(@event, @ticket), :class => 'btn'
  = link_to 'Back', event_path(@event), :class => 'btn'
