.row-fluid
  .span4.featured-boxes
    .feature-inner
      %h4 Login
      = render 'new'
  .span3.featured-boxes
    .feature-inner
      %h4 Sign up as attendee
      = render :partial => 'devise/registrations/new', :locals => {:role => :attendee}
  .span3.featured-boxes
    %br
    %br
    .feature-inner
      = link_to user_omniauth_authorize_path(:facebook), :class => 'btn btn-success btn-block' do
        = image_tag "footer_facebook.png"
        &nbsp;&nbsp;&nbsp;
        Sign in/up with Facebook
      = link_to user_omniauth_authorize_path(:twitter), :class => 'btn btn-success btn-block' do
        = image_tag "footer_twitter.png"
        &nbsp;&nbsp;&nbsp;&nbsp;
        Sign in/up with Twitter
